{% extends 'account/auth_base.html' %}
{% block content %}

<body align="center">
<div class="container">
    <div class="row">
     <div class="main-login main-center">
<!--         <div class="col-sm-12 col-md-4 col-md-offset-4"> -->
            <h1 class="text-center login-title">Login</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="">
                <form class="form-signin" action="/login/" method="POST">
                    {% for field in form %}
                        <b>{{ field.label_tag }}</b>
                        <br>
                        {{ field }}
                        {{ field.errors }}
                        {{ feild.non_field_errors }}
                    {% endfor %}
                    <br>
                    <input type="submit" value="Login"/>
                <text>{{ message }}</text>
                </form>
            </div>
            <a href="#" class="text-center new-account">Create an account </a>
        </div>
    </div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}