{% extends 'account/base.html' %}

{% block content %}
    <h1>Portfolio</h1>
    {% if portfolio %}
        Number of Stocks invested in: {{ portfolio|length }}
    {% else %}
        No Stocks bought.
    {% endif %}

    <table>
        <tr>
            <td>Symbol</td>
            <td>Number</td>
            <td>Price</td>
            <td>Total Value</td>
        </tr>
    </table>
    {% for item in portfolio %}
        <tr>
            <td>{{ item.stock.symbol }}</td>
            <td>{{ item.num }}</td>
            <td>{{ item.stock.price }}</td>
            <td>Rs. {% widthratio item.stock.price 1 item.num %}</td>
        </tr>

    {% endfor %}
{% endblock %}